<% include ../partials/header%>
<form method = POST action="/auth/register">
  <input name = "username" placeholder = "username">
  <input name = "password" placeholder = "password">
  <input name = "firstname" placeholder = "First Name">
  <input type = "submit" value = "submit">
</form>
<% include ../partials/end%>
