<!DOCTYPE html>
<html>
<head>
  <title>To Do Today!</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="name" content="content">

  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script type="text/javascript" src="/js/scripts.js"></script>

</head>
<body>

<%include ./nav %>

<div id="body-container">
<div id="content-container">

