
<ul id = "nav">
  <li class="loggedIn">Logout</li>
  <li class="loggedIn">Update User Info</li>
  <li class="loggedIn">Category</li>
  <li class="loggedIn">Status</li>
  <li class="loggedOut">Login</li>
  <li class="loggedOut">Register</li>
</ul>
