<% include ../partials/header%>
  <ul>
    <% for (let t of tasks) {%>

      <a href="/user/tasks/<%=t.id%>"><li><%= t.title %></li></a>
      <a href="/user/tasks/<%=t.id%>/edit"><button>edit</button></a>
      <form method='POST' action="/user/tasks/<%=t.id%>?_method=DELETE">
        <button type="submit">delete</button>
      </form>
    <%}%>
  </ul>
  <a href="/user/tasks/new"><button>New Task</button></a>
<% include ../partials/end%>
