<% include ../partials/header%>

<form method="POST" action = "/task/new">
  <input name = "title" placeholder = "title">
  <br>
  <input name = "category" placeholder = "category">
  <br>
  <input name = "description" placeholder = "description">
  <br>
  <br>
  <!-- <input name = "id" type="hidden" value="<%//userid%>"> -->
  <button type = "submit" value = "submit"></button>
</form>

<% include ../partials/end%>
