<% include ../partials/header%>
<h1>Create A New Task</h1>
<form action = "/user/tasks" method="POST" >
  <div id = "title-category">
    <div>
      <p>Title</p>
      <input class = "edit-title" type="text" name = "title" placeholder = "title">
    </div>

    <div>
        <p>Category</p>
      <input type = "text"  name = "category" placeholder = "category" >
    </div>

  </div>
  <p>Description</p>
  <input class="edit-description" type="text" name = "description" placeholder = "description" >
  <br>
  <!-- <input name = "id" type="hidden" value="<%//task.id%>"> -->

  <button class = "submit-form" type = "submit" value = "submit">submit</button>
</form>

<% include ../partials/end%>
