<% include ../partials/header%>
  <% console.log(task)%>
<form  method="POST" action="/user/tasks/<%=task.id%>?_method=PUT">
  <% console.log(task)%>
  <input id = "title" name = "title" placeholder = "title" >
  <br>
  <input name = "category" placeholder = "category">
  <br>
  <input name = "description" placeholder = "description">
  <br>
  <!-- <input name = "id" type="hidden" value="<%//task.id%>"> -->
  <button type = "submit" value = "submit"></button>
</form>

<% include ../partials/end%>
