<% include ../partials/header%>

  <h1><%= task.title %></h1>
  <h2><%= task.category %></h2>
  <h3><%= task.description %></h3>

  <a href="/user"><button>back to index</button></a>
<% include ../partials/end%>
